{% extends "base.html" %}

{% block head %}

<title>Rclone Helper - Admin</title>

{% endblock %}

{% block titolo %}

<h1 class="text-center my-2"><strong>Admin Panel</strong></h1>

{% endblock %}

{% block corpo %}

<div class="mx-5 row">
<div class="col mx-2">
<h3>Utenti</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for i in utenti %}
    <tr>
      <th scope="row">{{ i["id"] }}</th>
      <td>{{ i["username"] }}</td>
      <td>Modifica</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>

{% endblock %}
