{% extends "base.html" %}

{% block head %}

<title>GV Piemonte - Comandi</title>

{% endblock %}

{% block titolo %}

<h1 class="text-center my-2"><strong>Comandi</strong></h1>

{% endblock %}

{% block corpo %}
<div class="mx-5">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tipo</th>
      <th scope="col">Origine</th>
      <th scope="col">Destinazione</th>
      <th scope="col">Descrizione</th>
    </tr>
  </thead>
  <tbody>
    {% for i in comandi %}
    <tr>
      <th scope="row"></th>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
